# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

przydatne.txt
1Projekt i implementacja sklepu internetowego z funkcją wypożyczalni.pptx
2Projekt i implementacja sklepu internetowego z funkcją wypożyczalni.ppt
Projekt i implementacja sklepu internetowego z funkcją wypożyczalni.pdf
